In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import pickle

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, RFE, mutual_info_classif
import requests
from bs4 import BeautifulSoup

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd

# Setup Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode, comment out to see browser window
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

# URL of the page containing the contract data
url = 'https://capwages.com/players/nikita-zadorov'

In [4]:
url

'https://capwages.com/players/nikita-zadorov'

In [6]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd

# Setup Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode, comment out to see browser window
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

url = 'https://capwages.com/players/nikita-zadorov'

try:
    # Load the page
    driver.get(url)

    # Wait until the tables are loaded
    WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.TAG_NAME, 'table')))
    
    # Extract the page source and parse it with BeautifulSoup
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # Find all tables
    tables = soup.find_all('table')
    
    # Create a list to store DataFrames
    df_list = []

    for idx, table in enumerate(tables):
        # Extract rows from each table
        rows = table.find_all('tr')
        data = []

        for row in rows:
            cols = row.find_all(['td', 'th'])  # Include headers as well
            cols = [col.text.strip() for col in cols]
            data.append(cols)

        # Create a DataFrame and add it to the list
        df = pd.DataFrame(data)
        df_list.append(df)
        
        # Optional: Print the DataFrame to see the output
        print(f"Table {idx + 1}:")
        print(df)
        print("\n")

finally:
    driver.quit()

Table 1:
         0       1           2            3           4           5  \
0   Season  Clause     Cap Hit          AAV  P. Bonuses  S. Bonuses
1  2024-25          $5,000,000   $5,000,000          $0          $0
2  2025-26          $5,000,000   $5,000,000          $0          $0
3  2026-27          $5,000,000   $5,000,000          $0          $0
4  2027-28          $5,000,000   $5,000,000          $0          $0
5  2028-29          $5,000,000   $5,000,000          $0          $0
6  2029-30          $5,000,000   $5,000,000          $0          $0
7    TOTAL                      $30,000,000          $0          $0

             6             7
0  Base Salary  Total Salary
1   $5,000,000    $5,000,000
2   $5,000,000    $5,000,000
3   $5,000,000    $5,000,000
4   $5,000,000    $5,000,000
5   $5,000,000    $5,000,000
6   $5,000,000    $5,000,000
7  $30,000,000   $30,000,000


Table 2:
         0       1           2           3           4           5  \
0   Season  Clause     Cap Hit         AAV  P. Bonuses  S. Bonuses
1  2022-23          $3,750,000  $3,750,000          $0          $0
2  2023-24          $3,750,000  $3,750,000          $0          $0
3    TOTAL                      $7,500,000          $0          $0

             6             7
0  Base Salary  Total Salary
1   $3,750,000    $3,750,000
2   $3,750,000    $3,750,000
3   $7,500,000    $7,500,000


Table 3:
         0       1           2           3           4           5  \
0   Season  Clause     Cap Hit         AAV  P. Bonuses  S. Bonuses
1  2021-22          $3,750,000  $3,750,000          $0          $0
2    TOTAL                      $3,750,000          $0          $0

             6             7
0  Base Salary  Total Salary
1   $3,750,000    $3,750,000
2   $3,750,000    $3,750,000


Table 4:
         0       1           2           3           4           5  \
0   Season  Clause     Cap Hit         AAV  P. Bonuses  S. Bonuses
1  2020-21          $3,200,000  $3,200,000          $0          $0
2    TOTAL                      $3,200,000          $0          $0

             6             7
0  Base Salary  Total Salary
1   $3,200,000    $3,200,000
2   $3,200,000    $3,200,000


Table 5:
         0       1           2           3           4           5  \
0   Season  Clause     Cap Hit         AAV  P. Bonuses  S. Bonuses
1  2019-20          $3,200,000  $3,200,000          $0          $0
2    TOTAL                      $3,200,000          $0          $0

             6             7
0  Base Salary  Total Salary
1   $3,200,000    $3,200,000
2   $3,200,000    $3,200,000


Table 6:
         0       1           2           3           4           5  \
0   Season  Clause     Cap Hit         AAV  P. Bonuses  S. Bonuses
1  2017-18          $2,150,000  $2,150,000          $0          $0
2  2018-19          $2,150,000  $2,150,000          $0          $0
3    TOTAL                      $4,300,000          $0          $0

             6             7
0  Base Salary  Total Salary
1   $2,100,000    $2,100,000
2   $2,200,000    $2,200,000
3   $4,300,000    $4,300,000


Table 7:
         0       1         2           3           4           5  \
0   Season  Clause   Cap Hit         AAV  P. Bonuses  S. Bonuses
1  2013-14          $925,000  $1,775,000           â€“     $92,500
2  2014-15          $894,167  $1,744,167    $850,000     $92,500
3  2015-16          $894,167  $1,744,167    $850,000     $92,500
4  2016-17          $894,167  $1,744,167    $850,000          $0
5    TOTAL                    $7,007,501          $0    $277,500

                   6             7              8
0        Base Salary  Total Salary  Minors Salary
1  ENTRY-LEVEL SLIDE
2           $832,500      $925,000        $70,000
3           $832,500      $925,000        $70,000
4           $832,500      $832,500        $70,000
5                 $0    $2,682,500       $210,000


Table 8:
           0            1    2   3    4     5     6     7         8     9   \
0      Season         Team   GP   G    A     P   +/-   PIM  Playoffs  None
1          GP            G    A   P  +/-  None  None  None      None  None
2     2023-24          VAN   54   5    9    14     6   102        13     4
3     2023-24          CGY   21   1    5     6    -6    23
4     2022-23          CGY   82  14    7    21    10    80
5     2021-22          CGY   74   4   18    22    11    77        12     0
6     2020-21       Russia    8   0    3     3    11     2
7     2020-21          CHI   55   1    7     8     1    36
8     2019-20          COL   64   4    9    13     6    65        15     3
9     2018-19       Russia    9   0    1     1     4    14
10    2018-19          COL   70   7    7    14    19    75        12     0
11    2017-18          COL   77   7   13    20     4   103         6     1
12    2016-17          COL   56   0   10    10   -20    73
13    2015-16  San Antonio   52  10   19    29    -9    90
14    2015-16          COL   22   0    2     2    -5    12
15    2014-15          BUF   60   3   12    15   -10    51
16    2013-14       Russia    7   4    1     5     4     6
17    2013-14       London   36  11   19    30    30    43         3     0
18    2013-14          BUF    7   1    0     1    -4     4
19    2012-13       London   63   6   19    25     0    54         5     2
20    2011-12     CSKA Jr.   41   2    4     6     0    63         8     0
21  NHL TOTAL               642  47   99   146    12   701       361    28

      10    11    12
0   None  None  None
1   None  None  None
2      4     8     3
3
4
5      3     3     2
6
7
8      2     5     5
9
10     0     0    -5
11     2     3     1
12
13
14
15
16
17     0     0    -2
18
19     0     2     1
20     0     0     0
21    54    82   -28

In [23]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup

# Setup Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode, comment out to see browser window
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

url = 'https://capwages.com/players/nikita-zadorov'

try:
    # Load the page
    driver.get(url)

    # Wait until the tables are loaded
    WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.TAG_NAME, 'table')))
    
    # Extract the page source and parse it with BeautifulSoup
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # Find all tables
    tables = soup.find_all('table')
    
    # Create a dictionary to store data
    data_dict = {}

    for idx, table in enumerate(tables):
        # Extract headers
        headers = [th.text.strip() for th in table.find_all('th')]
        
        # Extract data rows
        for row in table.find_all('tr')[1:]:  # Skip the header row
            cols = row.find_all('td')
            if cols:
                # Skip empty rows
                cols = [col.text.strip() for col in cols if col.text.strip()]
                if cols:
                    # Create a dictionary for the row, matching headers to data
                    row_data = {headers[i]: cols[i] for i in range(min(len(headers), len(cols)))}
                    data_dict.setdefault(f'Table {idx + 1}', []).append(row_data)

    # Optional: Print the resulting dictionary
    for table, rows in data_dict.items():
        print(f"{table}:")
        for row in rows:
            print(row)
        print("\n")

finally:
    driver.quit()

Table 1:
{'Season': '2024-25', 'Clause': '$5,000,000', 'Cap Hit': '$5,000,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$5,000,000', 'Base Salary': '$5,000,000'}
{'Season': '2025-26', 'Clause': '$5,000,000', 'Cap Hit': '$5,000,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$5,000,000', 'Base Salary': '$5,000,000'}
{'Season': '2026-27', 'Clause': '$5,000,000', 'Cap Hit': '$5,000,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$5,000,000', 'Base Salary': '$5,000,000'}
{'Season': '2027-28', 'Clause': '$5,000,000', 'Cap Hit': '$5,000,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$5,000,000', 'Base Salary': '$5,000,000'}
{'Season': '2028-29', 'Clause': '$5,000,000', 'Cap Hit': '$5,000,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$5,000,000', 'Base Salary': '$5,000,000'}
{'Season': '2029-30', 'Clause': '$5,000,000', 'Cap Hit': '$5,000,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$5,000,000', 'Base Salary': '$5,000,000'}
{'Season': 'TOTAL', 'Clause': '$30,000,000', 'Cap Hit': '$0', 'AAV': '$0', 'P. Bonuses': '$30,000,000', 'S. Bonuses': '$30,000,000'}


Table 2:
{'Season': '2022-23', 'Clause': '$3,750,000', 'Cap Hit': '$3,750,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$3,750,000', 'Base Salary': '$3,750,000'}
{'Season': '2023-24', 'Clause': '$3,750,000', 'Cap Hit': '$3,750,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$3,750,000', 'Base Salary': '$3,750,000'}
{'Season': 'TOTAL', 'Clause': '$7,500,000', 'Cap Hit': '$0', 'AAV': '$0', 'P. Bonuses': '$7,500,000', 'S. Bonuses': '$7,500,000'}


Table 3:
{'Season': '2021-22', 'Clause': '$3,750,000', 'Cap Hit': '$3,750,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$3,750,000', 'Base Salary': '$3,750,000'}
{'Season': 'TOTAL', 'Clause': '$3,750,000', 'Cap Hit': '$0', 'AAV': '$0', 'P. Bonuses': '$3,750,000', 'S. Bonuses': '$3,750,000'}


Table 4:
{'Season': '2020-21', 'Clause': '$3,200,000', 'Cap Hit': '$3,200,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$3,200,000', 'Base Salary': '$3,200,000'}
{'Season': 'TOTAL', 'Clause': '$3,200,000', 'Cap Hit': '$0', 'AAV': '$0', 'P. Bonuses': '$3,200,000', 'S. Bonuses': '$3,200,000'}


Table 5:
{'Season': '2019-20', 'Clause': '$3,200,000', 'Cap Hit': '$3,200,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$3,200,000', 'Base Salary': '$3,200,000'}
{'Season': 'TOTAL', 'Clause': '$3,200,000', 'Cap Hit': '$0', 'AAV': '$0', 'P. Bonuses': '$3,200,000', 'S. Bonuses': '$3,200,000'}


Table 6:
{'Season': '2017-18', 'Clause': '$2,150,000', 'Cap Hit': '$2,150,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$2,100,000', 'Base Salary': '$2,100,000'}
{'Season': '2018-19', 'Clause': '$2,150,000', 'Cap Hit': '$2,150,000', 'AAV': '$0', 'P. Bonuses': '$0', 'S. Bonuses': '$2,200,000', 'Base Salary': '$2,200,000'}
{'Season': 'TOTAL', 'Clause': '$4,300,000', 'Cap Hit': '$0', 'AAV': '$0', 'P. Bonuses': '$4,300,000', 'S. Bonuses': '$4,300,000'}


Table 7:
{'Season': '2013-14', 'Clause': '$925,000', 'Cap Hit': '$1,775,000', 'AAV': 'â€“', 'P. Bonuses': '$92,500', 'S. Bonuses': 'ENTRY-LEVEL SLIDE'}
{'Season': '2014-15', 'Clause': '$894,167', 'Cap Hit': '$1,744,167', 'AAV': '$850,000', 'P. Bonuses': '$92,500', 'S. Bonuses': '$832,500', 'Base Salary': '$925,000', 'Total Salary': '$70,000'}
{'Season': '2015-16', 'Clause': '$894,167', 'Cap Hit': '$1,744,167', 'AAV': '$850,000', 'P. Bonuses': '$92,500', 'S. Bonuses': '$832,500', 'Base Salary': '$925,000', 'Total Salary': '$70,000'}
{'Season': '2016-17', 'Clause': '$894,167', 'Cap Hit': '$1,744,167', 'AAV': '$850,000', 'P. Bonuses': '$0', 'S. Bonuses': '$832,500', 'Base Salary': '$832,500', 'Total Salary': '$70,000'}
{'Season': 'TOTAL', 'Clause': '$7,007,501', 'Cap Hit': '$0', 'AAV': '$277,500', 'P. Bonuses': '$0', 'S. Bonuses': '$2,682,500', 'Base Salary': '$210,000'}


Table 8:
{'Season': '2023-24', 'Team': 'VAN', 'GP': '4', 'G': '4', 'A': '8', 'P': '3', '+/-': '6', 'PIM': '102', 'Playoffs': '13'}
{'Season': '2023-24', 'Team': 'CGY', 'GP': '21', 'G': '1', 'A': '5', 'P': '6', '+/-': '-6', 'PIM': '23'}
{'Season': '2022-23', 'Team': 'CGY', 'GP': '82', 'G': '14', 'A': '7', 'P': '21', '+/-': '10', 'PIM': '80'}
{'Season': '2021-22', 'Team': 'CGY', 'GP': '0', 'G': '3', 'A': '3', 'P': '2', '+/-': '11', 'PIM': '77', 'Playoffs': '12'}
{'Season': '2020-21', 'Team': 'Russia', 'GP': '8', 'G': '0', 'A': '3', 'P': '3', '+/-': '11', 'PIM': '2'}
{'Season': '2020-21', 'Team': 'CHI', 'GP': '55', 'G': '1', 'A': '7', 'P': '8', '+/-': '1', 'PIM': '36'}
{'Season': '2019-20', 'Team': 'COL', 'GP': '3', 'G': '2', 'A': '5', 'P': '5', '+/-': '6', 'PIM': '65', 'Playoffs': '15'}
{'Season': '2018-19', 'Team': 'Russia', 'GP': '9', 'G': '0', 'A': '1', 'P': '1', '+/-': '4', 'PIM': '14'}
{'Season': '2018-19', 'Team': 'COL', 'GP': '0', 'G': '0', 'A': '0', 'P': '-5', '+/-': '19', 'PIM': '75', 'Playoffs': '12'}
{'Season': '2017-18', 'Team': 'COL', 'GP': '1', 'G': '2', 'A': '3', 'P': '1', '+/-': '4', 'PIM': '103', 'Playoffs': '6'}
{'Season': '2016-17', 'Team': 'COL', 'GP': '56', 'G': '0', 'A': '10', 'P': '10', '+/-': '-20', 'PIM': '73'}
{'Season': '2015-16', 'Team': 'San Antonio', 'GP': '52', 'G': '10', 'A': '19', 'P': '29', '+/-': '-9', 'PIM': '90'}
{'Season': '2015-16', 'Team': 'COL', 'GP': '22', 'G': '0', 'A': '2', 'P': '2', '+/-': '-5', 'PIM': '12'}
{'Season': '2014-15', 'Team': 'BUF', 'GP': '60', 'G': '3', 'A': '12', 'P': '15', '+/-': '-10', 'PIM': '51'}
{'Season': '2013-14', 'Team': 'Russia', 'GP': '7', 'G': '4', 'A': '1', 'P': '5', '+/-': '4', 'PIM': '6'}
{'Season': '2013-14', 'Team': 'London', 'GP': '0', 'G': '0', 'A': '0', 'P': '-2', '+/-': '30', 'PIM': '43', 'Playoffs': '3'}
{'Season': '2013-14', 'Team': 'BUF', 'GP': '7', 'G': '1', 'A': '0', 'P': '1', '+/-': '-4', 'PIM': '4'}
{'Season': '2012-13', 'Team': 'London', 'GP': '2', 'G': '0', 'A': '2', 'P': '1', '+/-': '0', 'PIM': '54', 'Playoffs': '5'}
{'Season': '2011-12', 'Team': 'CSKA Jr.', 'GP': '0', 'G': '0', 'A': '0', 'P': '0', '+/-': '0', 'PIM': '63', 'Playoffs': '8'}
{'Season': 'NHL TOTAL', 'Team': '642', 'GP': '54', 'G': '82', 'A': '-28', 'P': '12', '+/-': '701', 'PIM': '361', 'Playoffs': '28'}

In [39]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd

# Setup Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode, comment out to see browser window
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

url = 'https://capwages.com/players/nikita-zadorov'

try:
    # Load the page
    driver.get(url)

    # Wait until the tables are loaded
    WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.TAG_NAME, 'table')))
    
    # Extract the page source and parse it with BeautifulSoup
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # Find all tables
    tables = soup.find_all('table')
    
    # Create a dictionary to store data
    data_dict = {}

    for idx, table in enumerate(tables):
        # Extract headers
        headers = [th.text.strip() for th in table.find_all('th')]
        
        # Extract data rows
        for row in table.find_all('tr')[1:]:  # Skip the header row
            cols = row.find_all('td')
            if cols:
                # Skip empty rows and extract text
                cols_text = [col.text.strip() for col in cols if col.text.strip()]
                if cols_text:
                    # Check for the presence of "Total" in any cell
                    if not any("TOTAL" in text for text in cols_text):
                        # Create a dictionary for the row, matching headers to data
                        row_data = {headers[i]: cols_text[i] for i in range(min(len(headers), len(cols_text)))}
                        data_dict.setdefault(f'Table {idx + 1}', []).append(row_data)
# Create DataFrames for each table
    dataframes = []
    for table_name, rows in data_dict.items():
        df = pd.DataFrame(rows)
        dataframes.append(df)

    # Concatenate all DataFrames into a single DataFrame
    combined_df = pd.concat(dataframes, ignore_index=True).sort_values(by = 'Season')

    

finally:
    driver.quit()

In [40]:
combined_df

,Season,Clause,Cap Hit,AAV,P. Bonuses,S. Bonuses,Base Salary,Total Salary,Team,GP,G,A,P,+/-,PIM,Playoffs
35,2011-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSKA Jr.,0,0,0,0,0,63,8
34,2012-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,London,2,0,2,1,0,54,5
31,2013-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Russia,7,4,1,5,4,6,NaN
13,2013-14,"$925,000","$1,775,000",â€“,"$92,500",ENTRY-LEVEL SLIDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2013-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BUF,7,1,0,1,-4,4,NaN
32,2013-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,London,0,0,0,-2,30,43,3
30,2014-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BUF,60,3,12,15,-10,51,NaN
14,2014-15,"$894,167","$1,744,167","$850,000","$92,500","$832,500","$925,000","$70,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015-16,"$894,167","$1,744,167","$850,000","$92,500","$832,500","$925,000","$70,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COL,22,0,2,2,-5,12,NaN
28,2015-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Antonio,52,10,19,29,-9,90,NaN
27,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COL,56,0,10,10,-20,73,NaN
16,2016-17,"$894,167","$1,744,167","$850,000",$0,"$832,500","$832,500","$70,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COL,1,2,3,1,4,103,6
11,2017-18,"$2,150,000","$2,150,000",$0,$0,"$2,100,000","$2,100,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2018-19,"$2,150,000","$2,150,000",$0,$0,"$2,200,000","$2,200,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2018-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Russia,9,0,1,1,4,14,NaN
25,2018-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COL,0,0,0,-5,19,75,12
10,2019-20,"$3,200,000","$3,200,000",$0,$0,"$3,200,000","$3,200,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2019-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COL,3,2,5,5,6,65,15
21,2020-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Russia,8,0,3,3,11,2,NaN
22,2020-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHI,55,1,7,8,1,36,NaN
9,2020-21,"$3,200,000","$3,200,000",$0,$0,"$3,200,000","$3,200,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-22,"$3,750,000","$3,750,000",$0,$0,"$3,750,000","$3,750,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2021-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CGY,0,3,3,2,11,77,12
6,2022-23,"$3,750,000","$3,750,000",$0,$0,"$3,750,000","$3,750,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2022-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CGY,82,14,7,21,10,80,NaN
17,2023-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VAN,4,4,8,3,6,102,13
7,2023-24,"$3,750,000","$3,750,000",$0,$0,"$3,750,000","$3,750,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2023-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CGY,21,1,5,6,-6,23,NaN
0,2024-25,"$5,000,000","$5,000,000",$0,$0,"$5,000,000","$5,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-26,"$5,000,000","$5,000,000",$0,$0,"$5,000,000","$5,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2026-27,"$5,000,000","$5,000,000",$0,$0,"$5,000,000","$5,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2027-28,"$5,000,000","$5,000,000",$0,$0,"$5,000,000","$5,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2028-29,"$5,000,000","$5,000,000",$0,$0,"$5,000,000","$5,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2029-30,"$5,000,000","$5,000,000",$0,$0,"$5,000,000","$5,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [449]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd

# Setup Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode, comment out to see browser window
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

# URL of the page containing the contract data
url = 'https://www.puckpedia.com/player/tyler-bertuzzi'

try:
    # Load the page
    driver.get(url)

    # Wait for the table to load (adjust timeout as needed)
    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, 'pp_table-contract')))

    # Get page source after content is dynamically loaded
    html_content = driver.page_source

    # Parse the HTML content
    soup = BeautifulSoup(html_content, 'html.parser')

    # Find the table with class 'pp_table-contract'
    table = soup.find('table', class_='pp_table-contract')

    # Initialize a dictionary to store the extracted contract data
    contract_data = {}

    # Check if the table is found
    if table:
        # Find all table rows ('tr' elements)
        rows = table.find_all('tr')

        # Iterate through each row
        for row in rows:
            # Extract each cell ('td' elements)
            cells = row.find_all('td')

            # Extract specific data from cells
            if cells:
                # Extracting key and value
                key = cells[0].text.strip()
                value = cells[1].text.strip()

                # Clean up the value to remove unnecessary characters
                if 'val-lg' in value:
                    # Extracting only the large value part
                    value = cells[1].find('span', class_='val-lg').text.strip()

                # Store the data in the dictionary
                contract_data[key] = value

    else:
        print(f"Table with class 'pp_table-contract' not found.")

    # Print the extracted data (for demonstration)
    print(contract_data)

finally:
    # Close the browser
    driver.quit()

{'Cap Hit': '$5,500,000$5.50M', 'AAV': '$5,500,000$5.50M', 'Base': '$775,000$775K', 'Performance Bonuses': '-', 'Signing Bonuses': '$4,725,000$4.73M', 'Total Salary': '$5,500,000$5.50M', 'Minors Salary': '$5,500,000$5.50M', 'Clauses': 'NMC', 'UFA Year': ''}

In [450]:
contract_data

{'Cap Hit': '$5,500,000$5.50M',
 'AAV': '$5,500,000$5.50M',
 'Base': '$775,000$775K',
 'Performance Bonuses': '-',
 'Signing Bonuses': '$4,725,000$4.73M',
 'Total Salary': '$5,500,000$5.50M',
 'Minors Salary': '$5,500,000$5.50M',
 'Clauses': 'NMC',
 'UFA Year': ''}

In [469]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd
import re

# Setup Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode, comment out to see browser window
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

# URL of the page containing the contract data
url = 'https://puckpedia.com/player/tyler-bertuzzi'

try:
    # Load the page
    driver.get(url)

    # Wait for the main content to load
    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, 'pp_table-wrapper')))

    # Get page source after content is dynamically loaded
    html_content = driver.page_source

    # Parse the HTML content
    soup = BeautifulSoup(html_content, 'html.parser')

    # Find all contract sections
    contract_sections = soup.find_all('div', class_='pp_table-wrapper')

    # List to store all contract data
    all_contracts_data = []

    for section in contract_sections:
        # Initialize a dictionary to store contract data for the current section
        contract_data = {}

        # Extract season from the section header if available
        season_header = section.find('thead').find('div').text.strip()
        contract_data['Season'] = season_header

        # Find the contract table within each section
        table = section.find('table', class_='pp_table-contract')

        if table:
            # Find all rows ('tr' elements) in the table body ('tbody')
            rows = table.find('tbody').find_all('tr')

            for row in rows:
                # Extract columns ('td' elements)
                cells = row.find_all('td')
                if len(cells) >= 2:  # Ensure it's a valid row with label and value cells
                    label = cells[0].text.strip()
                    value = cells[1].text.strip()

                    # Clean up the value if necessary (remove extra spaces, etc.)
                    value = re.sub(r'\s+', ' ', value)

                    # Store the data in the dictionary
                    contract_data[label] = value

        # Append the contract data for the current section to the list
        all_contracts_data.append(contract_data)

    # Convert the list of dictionaries to a DataFrame
    df = pd.DataFrame(all_contracts_data)

    # Display or further process the DataFrame
    print(df)

finally:
    # Close the browser
    driver.quit()

    Season           Cap Hit               AAV              Base  \
0   Season               NaN               NaN               NaN
1  2023-24  $5,500,000$5.50M  $5,500,000$5.50M     $775,000$775K
2  2021-22  $4,750,000$4.75M  $4,750,000$4.75M  $4,250,000$4.25M
3  2020-21  $3,500,000$3.50M  $3,500,000$3.50M  $3,500,000$3.50M
4  2018-19  $1,400,000$1.40M  $1,400,000$1.40M  $1,400,000$1.40M
5  2014-15     $675,833$676K     $925,000$925K                 -

  Performance Bonuses   Signing Bonuses      Total Salary     Minors Salary  \
0                 NaN               NaN               NaN               NaN
1                   -  $4,725,000$4.73M  $5,500,000$5.50M  $5,500,000$5.50M
2                   -                 -  $4,250,000$4.25M  $4,250,000$4.25M
3                   -                 -  $3,500,000$3.50M  $3,500,000$3.50M
4                   -                 -  $1,400,000$1.40M  $1,400,000$1.40M
5                   -       $92,500$93K                 -                 -

  Clauses UFA Year
0     NaN      NaN
1     NMC
2       -
3       -
4       -
5       -

In [470]:
df.head()

,Season,Cap Hit,AAV,Base,Performance Bonuses,Signing Bonuses,Total Salary,Minors Salary,Clauses,UFA Year
0,Season,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-24,"$5,500,000$5.50M","$5,500,000$5.50M","$775,000$775K",-,"$4,725,000$4.73M","$5,500,000$5.50M","$5,500,000$5.50M",NMC,
2,2021-22,"$4,750,000$4.75M","$4,750,000$4.75M","$4,250,000$4.25M",-,-,"$4,250,000$4.25M","$4,250,000$4.25M",-,
3,2020-21,"$3,500,000$3.50M","$3,500,000$3.50M","$3,500,000$3.50M",-,-,"$3,500,000$3.50M","$3,500,000$3.50M",-,
4,2018-19,"$1,400,000$1.40M","$1,400,000$1.40M","$1,400,000$1.40M",-,-,"$1,400,000$1.40M","$1,400,000$1.40M",-,

In [591]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the seasons and their corresponding API codes
seasons = {
    "2019-20": "YKJT4K",
    "2020-21": "CPUR97",
    "2021-22": "4ATL9N",
    "2022-23": "YPM797",
    "2023-24": "9FCTEM"
}

base_url = "https://dashboard.puckpedia.com/?q="
season_data = {}

# Function to reformat player names
def reformat_player_name(player_name):
    # Split the player name by comma
    parts = player_name.split(',')
    if len(parts) == 2:
        last_name, first_name = parts
        return f"{first_name.strip()} {last_name.strip()}"
    return player_name  # Return original if not in expected format

# Loop through each season and fetch data
for season, api_code in seasons.items():
    url = f"{base_url}{api_code}"
    
    # Step 1: Send a request to the website
    response = requests.get(url)
    
    # Step 2: Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Step 3: Extract salary information
    table = soup.find('table')  # Adjust the selector as needed
    rows = table.find_all('tr')
    
    # Extract headers
    headers = [header.text for header in rows[0].find_all('th')]
    
    # Extract data
    data = []
    for row in rows[1:]:  # Skip the header row
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    
    # Step 4: Create a DataFrame
    df = pd.DataFrame(data, columns=headers)
    
    # Drop columns where all values are NaN
    df = df.dropna(axis=1, how='all')
    
    # Remove unnamed columns
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    
    # Add a column for the season
    df['Season'] = season
    
    # Add fall_year column
    df['fall_year'] = df['Season'].str[:4].astype(int)
    
    # Reformat player names and add as a new column
    df['player_name'] = df['Playeraverages'].apply(reformat_player_name)
    
    # Drop original column if needed
    df = df.drop(columns=['Playeraverages', 'Team'])
    
    # Move 'player_name' to the first column
    columns = ['player_name'] + [col for col in df.columns if col != 'player_name']
    df = df[columns]
    
    # Store the DataFrame in the dictionary
    season_data[season] = df

# Batch rename columns in each season DataFrame
for season, df in season_data.items():
    # Remove the first 7 characters from column names starting with '20'
    new_columns = {col: col[7:] if col.startswith('20') else col for col in df.columns}
    
    # Rename columns
    df.rename(columns=new_columns, inplace=True)
    
    # Drop the first unnamed column
    if df.columns[1].startswith('Unnamed'):
        df.drop(df.columns[1], axis=1, inplace=True)
    
    # Specific renaming for the 2023-24 season
    if season == '2023-24':
        df.rename(columns={
            'Current Cap Hit': ' Cap Hit',
            'Current Salary': ' Total Salary'
        }, inplace=True)

# Convert 'Start Yr' column to year format
for season, df in season_data.items():
    if 'Start Yr' in df.columns:
        df['Start Yr'] = pd.to_datetime(df['Start Yr'], errors='coerce').dt.year

# Combine all season DataFrames into a single DataFrame
combined_df = pd.concat(season_data.values(), ignore_index=True)

In [592]:
season_19_20 = pd.DataFrame(season_data['2019-20'])
season_20_21 = pd.DataFrame(season_data['2020-21'])
season_21_22 = pd.DataFrame(season_data['2021-22'])
season_22_23 = pd.DataFrame(season_data['2022-23'])
season_23_24 = pd.DataFrame(season_data['2023-24'])
season_23_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 39 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      1054 non-null   object
 1                    1054 non-null   object
 2    Cap Hit         1054 non-null   object
 3    Total Salary    1054 non-null   object
 4   Contract Length  1054 non-null   object
 5   Current Cap %    1054 non-null   object
 6   Age              1054 non-null   object
 7   Height           1054 non-null   object
 8   Weight           1054 non-null   object
 9   Pos              1054 non-null   object
 10  Shoots           1054 non-null   object
 11  Clause           1054 non-null   object
 12  UFA Year         1054 non-null   object
 13  Contract Type    1054 non-null   object
 14  Signing Status   1054 non-null   object
 15  Expiry Status    1054 non-null   object
 16  Start Yr         1054 non-null   int64
 17  Expiry Yr        1054 non-null   object
 18  Agent            1054 non-null   object
 19   GP              1054 non-null   object
 20   G               1054 non-null   object
 21   A               1054 non-null   object
 22   P               1054 non-null   object
 23   PPG             1054 non-null   object
 24   GPG             1054 non-null   object
 25   5x5 TOI         1054 non-null   object
 26   5x5 TOI/G       1054 non-null   object
 27   GAA             1054 non-null   object
 28   SV%             1054 non-null   object
 29   GF%             1054 non-null   object
 30   DFF%            1054 non-null   object
 31   relDFF%         1054 non-null   object
 32   CF%             1054 non-null   object
 33   relCF%          1054 non-null   object
 34   G60             1054 non-null   object
 35   P60             1054 non-null   object
 36   GSAx            1054 non-null   object
 37  Season           1054 non-null   object
 38  fall_year        1054 non-null   int32
dtypes: int32(1), int64(1), object(37)
memory usage: 317.2+ KB

In [593]:
season_19_20 = season_19_20.copy()
season_20_21 = season_20_21.copy()
season_21_22 = season_21_22.copy()
season_22_23 = season_22_23.copy()
season_23_24 = season_23_24.copy()

In [594]:
season_20_21.columns

Index(['player_name', '', 'Current Cap Hit', 'Current Salary',
       'Contract Length', 'Current Cap %', 'Age', 'Height', 'Weight', 'Pos',
       'Shoots', 'Clause', 'UFA Year', 'Contract Type', 'Signing Status',
       'Expiry Status', 'Start Yr', 'Expiry Yr', 'Agent', ' GP', ' G', ' A',
       ' P', ' PPG', ' GPG', ' 5x5 TOI', ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%',
       ' DFF%', ' relDFF%', ' CF%', ' relCF%', ' G60', ' P60', ' GSAx',
       ' Cap Hit', ' Salary', ' Bonuses', ' Total Salary', 'Season',
       'fall_year'],
      dtype='object')

In [596]:
season_19_20=season_19_20[['player_name', 'Pos',
       'Shoots', 'Clause', 'UFA Year', 'Contract Type', 'Signing Status',
       'Expiry Status', 'Start Yr', 'Expiry Yr', 'Agent', ' GP', ' G', ' A',
       ' P', ' PPG', ' GPG', ' 5x5 TOI', ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%',
       ' DFF%', ' relDFF%', ' CF%', ' relCF%', ' G60', ' P60', ' GSAx',
       ' Cap Hit', ' Total Salary', 'Season',
       'fall_year']]

season_20_21=season_20_21[['player_name',  'Pos',
       'Shoots', 'Clause', 'UFA Year', 'Contract Type', 'Signing Status',
       'Expiry Status',  'Start Yr','Expiry Yr', 'Agent', ' GP', ' G', ' A',
       ' P', ' PPG', ' GPG', ' 5x5 TOI', ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%',
       ' DFF%', ' relDFF%', ' CF%', ' relCF%', ' G60', ' P60', ' GSAx',
       ' Cap Hit',  ' Total Salary', 'Season',
       'fall_year']]

season_21_22=season_21_22[['player_name', 'Pos',
       'Shoots', 'Clause', 'UFA Year', 'Contract Type', 'Signing Status',
       'Expiry Status',  'Start Yr','Expiry Yr', 'Agent', ' GP', ' G', ' A',
       ' P', ' PPG', ' GPG', ' 5x5 TOI', ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%',
       ' DFF%', ' relDFF%', ' CF%', ' relCF%', ' G60', ' P60', ' GSAx',
       ' Cap Hit', ' Total Salary', 'Season',
       'fall_year']]

season_22_23=season_22_23[['player_name', 'Pos',
       'Shoots', 'Clause', 'UFA Year', 'Contract Type', 'Signing Status',
       'Expiry Status', 'Start Yr', 'Expiry Yr', 'Agent', ' GP', ' G', ' A',
       ' P', ' PPG', ' GPG', ' 5x5 TOI', ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%',
       ' DFF%', ' relDFF%', ' CF%', ' relCF%', ' G60', ' P60', ' GSAx',
       ' Cap Hit',' Total Salary', 'Season',
       'fall_year']]

In [616]:
season_23_24 = season_23_24[['player_name', 'Pos', 'UFA Year', 
       'Expiry Status',  'Start Yr', 'Expiry Yr',  ' GP', ' G', ' A',
       ' P', ' PPG', ' GPG', ' 5x5 TOI', ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%',
       ' DFF%', ' relDFF%', ' CF%', ' relCF%', ' G60', ' P60', ' GSAx',
       ' Cap Hit', ' Total Salary', 'Season', 'fall_year']]
season_23_24 = season_23_24.copy()
season_23_24['eos_status'] = np.where(season_23_24['Expiry Yr'] == season_23_24['Season'], 1,0  )


# Function to convert strings to integers
def convert_to_int(value):
    if pd.isna(value):
        return None
    if isinstance(value, str):
        value = value.replace('$', '').replace(',', '').replace('%', '')
    try:
        return int(float(value))
    except ValueError:
        return None

# List of columns to convert
columns_to_convert = [ ' GP', ' G', ' A', ' P', ' PPG', ' GPG', ' 5x5 TOI',
       ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%', ' DFF%', ' relDFF%', ' CF%',
       ' relCF%', ' G60', ' P60', ' GSAx', ' Cap Hit', ' Total Salary']

# Apply conversion
for col in columns_to_convert:
    if col in season_23_24.columns:
        season_23_24[col] = season_23_24[col].apply(convert_to_int)

season_23_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_name    1054 non-null   object
 1   Pos            1054 non-null   object
 2   UFA Year       1054 non-null   object
 3   Expiry Status  1054 non-null   object
 4   Start Yr       1054 non-null   int64
 5   Expiry Yr      1054 non-null   object
 6    GP            746 non-null    float64
 7    G             668 non-null    float64
 8    A             668 non-null    float64
 9    P             668 non-null    float64
 10   PPG           659 non-null    float64
 11   GPG           659 non-null    float64
 12   5x5 TOI       660 non-null    float64
 13   5x5 TOI/G     658 non-null    float64
 14   GAA           72 non-null     float64
 15   SV%           72 non-null     float64
 16   GF%           637 non-null    float64
 17   DFF%          658 non-null    float64
 18   relDFF%       655 non-null    float64
 19   CF%           658 non-null    float64
 20   relCF%        652 non-null    float64
 21   G60           573 non-null    float64
 22   P60           625 non-null    float64
 23   GSAx          0 non-null      object
 24   Cap Hit       1054 non-null   int64
 25   Total Salary  1054 non-null   int64
 26  Season         1054 non-null   object
 27  fall_year      1054 non-null   int32
 28  eos_status     1054 non-null   int32
dtypes: float64(17), int32(2), int64(3), object(7)
memory usage: 230.7+ KB

In [582]:
season_23_24.query('player_name == "Aaron Ekblad"')

,player_name,Contract Length,Age,Height,Weight,Pos,Shoots,Clause,UFA Year,Contract Type,Expiry Status,Start Yr,Expiry Yr,GP,G,A,P,PPG,GPG,5x5 TOI,5x5 TOI/G,GAA,SV%,GF%,DFF%,relDFF%,CF%,relCF%,G60,P60,GSAx,Cap Hit,Total Salary,Season,fall_year,eos_status
89,Aaron Ekblad,8,28,76in,216lbs,D,R,M-NTC,2022,Standard,UFA,2017,2024-25,51,4,14,18,0.35,0.07,783,15.67,,,67.30,55.20,1.30,58.30,1.80,0.22,0.84,,"$7,500,000","$7,000,000",2023-24,2023,0

In [601]:
past_Years = pd.concat([season_19_20, season_20_21], ignore_index=True)
past_Years = pd.concat([past_Years, season_21_22], ignore_index=True)
past_Years = pd.concat([past_Years, season_22_23], ignore_index=True)
past_years = past_Years[[ 'player_name','Pos',
       'UFA Year', 
       'Expiry Status',   'Start Yr', 'Expiry Yr', ' GP', ' G', ' A',
       ' P', ' PPG', ' GPG', ' 5x5 TOI', ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%',
       ' DFF%', ' relDFF%', ' CF%', ' relCF%', ' G60', ' P60', ' GSAx',
       ' Cap Hit', ' Total Salary', 'Season', 'fall_year']]

In [602]:

past_years.query('player_name == "Aaron Ekblad"')

,player_name,Pos,UFA Year,Expiry Status,Start Yr,Expiry Yr,GP,G,A,P,PPG,GPG,5x5 TOI,5x5 TOI/G,GAA,SV%,GF%,DFF%,relDFF%,CF%,relCF%,G60,P60,GSAx,Cap Hit,Total Salary,Season,fall_year
81,Aaron Ekblad,D,2022,UFA,2017,2024-25,67,5,36,41,0.61,0.07,1213,18.67,,,56.40,52.40,6.30,53.60,5.90,0.19,1.53,,"$7,500,000","$9,000,000",2019-20,2019
582,Aaron Ekblad,D,2022,UFA,2017,2024-25,35,11,11,22,0.62,0.31,604,17.27,,,56.40,56.30,2.90,54.40,3.00,0.39,0.79,,"$7,500,000","$6,000,000",2020-21,2020
1145,Aaron Ekblad,D,2022,UFA,2017,2024-25,61,15,42,57,0.93,0.24,1049,17.19,,,61.90,59.10,4.30,58.20,2.90,0.57,1.65,,"$7,500,000","$9,000,000",2021-22,2021
1804,Aaron Ekblad,D,2022,UFA,2017,2024-25,71,14,24,38,0.53,0.19,1150,16.21,,,46.20,52.40,-1.10,54.90,1.90,0.20,0.72,,"$7,500,000","$6,000,000",2022-23,2022

In [603]:
sorted_data = past_years .sort_values(by=['player_name', 'fall_year'], ascending=[True, True])
sorted_data

,player_name,Pos,UFA Year,Expiry Status,Start Yr,Expiry Yr,GP,G,A,P,PPG,GPG,5x5 TOI,5x5 TOI/G,GAA,SV%,GF%,DFF%,relDFF%,CF%,relCF%,G60,P60,GSAx,Cap Hit,Total Salary,Season,fall_year
81,Aaron Ekblad,D,2022,UFA,2017,2024-25,67,5,36,41,0.61,0.07,1213,18.67,,,56.40,52.40,6.30,53.60,5.90,0.19,1.53,,"$7,500,000","$9,000,000",2019-20,2019
582,Aaron Ekblad,D,2022,UFA,2017,2024-25,35,11,11,22,0.62,0.31,604,17.27,,,56.40,56.30,2.90,54.40,3.00,0.39,0.79,,"$7,500,000","$6,000,000",2020-21,2020
1145,Aaron Ekblad,D,2022,UFA,2017,2024-25,61,15,42,57,0.93,0.24,1049,17.19,,,61.90,59.10,4.30,58.20,2.90,0.57,1.65,,"$7,500,000","$9,000,000",2021-22,2021
1804,Aaron Ekblad,D,2022,UFA,2017,2024-25,71,14,24,38,0.53,0.19,1150,16.21,,,46.20,52.40,-1.10,54.90,1.90,0.20,0.72,,"$7,500,000","$6,000,000",2022-23,2022
1530,Aatu RÃ¤ty,C,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$859,167","$92,500",2021-22,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,Zack Ostapchuk,LW,2030,RFA,2023,2025-26,,,,,,,,,,,,,,,,,,,"$870,000","$92,500",2021-22,2021
2329,Zack Ostapchuk,LW,2030,RFA,2023,2025-26,,,,,,,,,,,,,,,,,,,"$847,500","$92,500",2022-23,2022
948,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$825,833","$92,500",2020-21,2020
1592,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$820,000","$92,500",2021-22,2021
2387,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$797,500","$842,500",2022-23,2022

In [604]:
sorted_data['contract_start'] = np.where(sorted_data['Start Yr'] == sorted_data['fall_year'], 1,0  )
sorted_data['contract_next'] = sorted_data.groupby('player_name')['contract_start'].shift(-1)
sorted_data

,player_name,Pos,UFA Year,Expiry Status,Start Yr,Expiry Yr,GP,G,A,P,PPG,GPG,5x5 TOI,5x5 TOI/G,GAA,SV%,GF%,DFF%,relDFF%,CF%,relCF%,G60,P60,GSAx,Cap Hit,Total Salary,Season,fall_year,contract_start,contract_next
81,Aaron Ekblad,D,2022,UFA,2017,2024-25,67,5,36,41,0.61,0.07,1213,18.67,,,56.40,52.40,6.30,53.60,5.90,0.19,1.53,,"$7,500,000","$9,000,000",2019-20,2019,0,0.0
582,Aaron Ekblad,D,2022,UFA,2017,2024-25,35,11,11,22,0.62,0.31,604,17.27,,,56.40,56.30,2.90,54.40,3.00,0.39,0.79,,"$7,500,000","$6,000,000",2020-21,2020,0,0.0
1145,Aaron Ekblad,D,2022,UFA,2017,2024-25,61,15,42,57,0.93,0.24,1049,17.19,,,61.90,59.10,4.30,58.20,2.90,0.57,1.65,,"$7,500,000","$9,000,000",2021-22,2021,0,0.0
1804,Aaron Ekblad,D,2022,UFA,2017,2024-25,71,14,24,38,0.53,0.19,1150,16.21,,,46.20,52.40,-1.10,54.90,1.90,0.20,0.72,,"$7,500,000","$6,000,000",2022-23,2022,0,NaN
1530,Aatu RÃ¤ty,C,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$859,167","$92,500",2021-22,2021,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,Zack Ostapchuk,LW,2030,RFA,2023,2025-26,,,,,,,,,,,,,,,,,,,"$870,000","$92,500",2021-22,2021,0,0.0
2329,Zack Ostapchuk,LW,2030,RFA,2023,2025-26,,,,,,,,,,,,,,,,,,,"$847,500","$92,500",2022-23,2022,0,NaN
948,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$825,833","$92,500",2020-21,2020,0,0.0
1592,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$820,000","$92,500",2021-22,2021,0,1.0
2387,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$797,500","$842,500",2022-23,2022,1,NaN

In [629]:
sorted_data['previous_salary'] = sorted_data.groupby('player_name')[' Total Salary'].shift(1)
sorted_data['next_salary'] = sorted_data.groupby('player_name')[' Total Salary'].shift(-1)
sorted_data['prevyear'] = sorted_data.groupby('player_name')['fall_year'].shift(1)
sorted_data['nextyear'] = sorted_data.groupby('player_name')['fall_year'].shift(-1)
sorted_data['nextyear'] = sorted_data['nextyear'].fillna(0).astype(int)
sorted_data['prevyear']= sorted_data['prevyear'].fillna(0).astype(int)
sorted_data

,player_name,Pos,UFA Year,Expiry Status,Start Yr,Expiry Yr,GP,G,A,P,PPG,GPG,5x5 TOI,5x5 TOI/G,GAA,SV%,GF%,DFF%,relDFF%,CF%,relCF%,G60,P60,GSAx,Cap Hit,Total Salary,Season,fall_year,contract_start,contract_next,previous_salary,next_salary,prevyear,nextyear
81,Aaron Ekblad,D,2022,UFA,2017,2024-25,67,5,36,41,0.61,0.07,1213,18.67,,,56.40,52.40,6.30,53.60,5.90,0.19,1.53,,"$7,500,000","$9,000,000",2019-20,2019,0,0.0,NaN,"$6,000,000",0,2020
582,Aaron Ekblad,D,2022,UFA,2017,2024-25,35,11,11,22,0.62,0.31,604,17.27,,,56.40,56.30,2.90,54.40,3.00,0.39,0.79,,"$7,500,000","$6,000,000",2020-21,2020,0,0.0,"$9,000,000","$9,000,000",2019,2021
1145,Aaron Ekblad,D,2022,UFA,2017,2024-25,61,15,42,57,0.93,0.24,1049,17.19,,,61.90,59.10,4.30,58.20,2.90,0.57,1.65,,"$7,500,000","$9,000,000",2021-22,2021,0,0.0,"$6,000,000","$6,000,000",2020,2022
1804,Aaron Ekblad,D,2022,UFA,2017,2024-25,71,14,24,38,0.53,0.19,1150,16.21,,,46.20,52.40,-1.10,54.90,1.90,0.20,0.72,,"$7,500,000","$6,000,000",2022-23,2022,0,NaN,"$9,000,000",NaN,2021,0
1530,Aatu RÃ¤ty,C,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$859,167","$92,500",2021-22,2021,0,1.0,NaN,"$842,500",0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,Zack Ostapchuk,LW,2030,RFA,2023,2025-26,,,,,,,,,,,,,,,,,,,"$870,000","$92,500",2021-22,2021,0,0.0,NaN,"$92,500",0,2022
2329,Zack Ostapchuk,LW,2030,RFA,2023,2025-26,,,,,,,,,,,,,,,,,,,"$847,500","$92,500",2022-23,2022,0,NaN,"$92,500",NaN,2021,0
948,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$825,833","$92,500",2020-21,2020,0,0.0,NaN,"$92,500",0,2021
1592,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$820,000","$92,500",2021-22,2021,0,1.0,"$92,500","$842,500",2020,2022
2387,Zayde Wisdom,RW,2030,RFA,2022,2024-25,,,,,,,,,,,,,,,,,,,"$797,500","$842,500",2022-23,2022,1,NaN,"$92,500",NaN,2021,0

In [630]:
contract_year_fas = sorted_data.query('contract_next == 1')
contract_year_fas['previous_salary'] = np.where(contract_year_fas['previous_salary'].isnull(), 0, contract_year_fas['previous_salary'])
contract_year_fas.columns

C:\Users\Karoline Sears\AppData\Local\Temp\ipykernel_22988\4262095227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contract_year_fas['previous_salary'] = np.where(contract_year_fas['previous_salary'].isnull(), 0, contract_year_fas['previous_salary'])

Index(['player_name', 'Pos', 'UFA Year', 'Expiry Status', 'Start Yr',
       'Expiry Yr', ' GP', ' G', ' A', ' P', ' PPG', ' GPG', ' 5x5 TOI',
       ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%', ' DFF%', ' relDFF%', ' CF%',
       ' relCF%', ' G60', ' P60', ' GSAx', ' Cap Hit', ' Total Salary',
       'Season', 'fall_year', 'contract_start', 'contract_next',
       'previous_salary', 'next_salary', 'prevyear', 'nextyear'],
      dtype='object')

In [631]:

# Function to convert strings to integers
def convert_to_int(value):
    if pd.isna(value):
        return None
    if isinstance(value, str):
        value = value.replace('$', '').replace(',', '').replace('%', '')
    try:
        return int(float(value))
    except ValueError:
        return None

# List of columns to convert
columns_to_convert = [ ' GP', ' G', ' A', ' P', ' PPG', ' GPG', ' 5x5 TOI',
       ' 5x5 TOI/G', ' GAA', ' SV%', ' GF%', ' DFF%', ' relDFF%', ' CF%',
       ' relCF%', ' G60', ' P60', ' GSAx', ' Cap Hit', ' Total Salary']

# Apply conversion
for col in columns_to_convert:
    if col in contract_year_fas.columns:
        contract_year_fas[col] = contract_year_fas[col].apply(convert_to_int)

contract_year_fas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226 entries, 1530 to 1592
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      226 non-null    object
 1   Pos              226 non-null    object
 2   UFA Year         226 non-null    object
 3   Expiry Status    226 non-null    object
 4   Start Yr         226 non-null    int64
 5   Expiry Yr        226 non-null    object
 6    GP              184 non-null    float64
 7    G               161 non-null    float64
 8    A               161 non-null    float64
 9    P               161 non-null    float64
 10   PPG             161 non-null    float64
 11   GPG             161 non-null    float64
 12   5x5 TOI         162 non-null    float64
 13   5x5 TOI/G       162 non-null    float64
 14   GAA             23 non-null     float64
 15   SV%             23 non-null     float64
 16   GF%             160 non-null    float64
 17   DFF%            162 non-null    float64
 18   relDFF%         161 non-null    float64
 19   CF%             162 non-null    float64
 20   relCF%          162 non-null    float64
 21   G60             152 non-null    float64
 22   P60             158 non-null    float64
 23   GSAx            9 non-null      float64
 24   Cap Hit         226 non-null    int64
 25   Total Salary    226 non-null    int64
 26  Season           226 non-null    object
 27  fall_year        226 non-null    int32
 28  contract_start   226 non-null    int32
 29  contract_next    226 non-null    float64
 30  previous_salary  226 non-null    object
 31  next_salary      226 non-null    object
 32  prevyear         226 non-null    int32
 33  nextyear         226 non-null    int32
dtypes: float64(19), int32(4), int64(3), object(8)
memory usage: 58.3+ KB

C:\Users\Karoline Sears\AppData\Local\Temp\ipykernel_22988\3940325462.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contract_year_fas[col] = contract_year_fas[col].apply(convert_to_int)

In [632]:
contract_year_fas = contract_year_fas.dropna(subset=[' G'])

contract_year_fas

,player_name,Pos,UFA Year,Expiry Status,Start Yr,Expiry Yr,GP,G,A,P,PPG,GPG,5x5 TOI,5x5 TOI/G,GAA,SV%,GF%,DFF%,relDFF%,CF%,relCF%,G60,P60,GSAx,Cap Hit,Total Salary,Season,fall_year,contract_start,contract_next,previous_salary,next_salary,prevyear,nextyear
1087,Adam Fox,D,2025,UFA,2022,2028-29,78.0,11.0,63.0,74.0,0.0,0.0,1359.0,17.0,NaN,NaN,54.0,52.0,6.0,49.0,3.0,0.0,1.0,NaN,925000,925000,2021-22,2021,0,1.0,"$925,000","$11,000,000",2020,2022
750,Adam Larsson,D,2020,UFA,2021,2024-25,56.0,4.0,6.0,10.0,0.0,0.0,930.0,16.0,NaN,NaN,48.0,49.0,0.0,46.0,-3.0,0.0,0.0,NaN,4166667,5100000,2020-21,2020,0,1.0,"$5,050,000","$2,500,000",2019,2021
782,Adam Lowry,C,2020,UFA,2021,2025-26,52.0,10.0,14.0,24.0,0.0,0.0,609.0,11.0,NaN,NaN,56.0,43.0,-3.0,47.0,0.0,0.0,2.0,NaN,2916666,2500000,2020-21,2020,0,1.0,"$2,750,000","$2,500,000",2019,2021
649,Adam Pelech,D,2022,UFA,2021,2028-29,56.0,4.0,10.0,14.0,0.0,0.0,992.0,17.0,NaN,NaN,59.0,57.0,9.0,51.0,5.0,0.0,0.0,NaN,1600000,2500000,2020-21,2020,0,1.0,"$1,925,000","$5,750,000",2019,2021
1222,Adrian Kempe,C,2024,UFA,2022,2025-26,78.0,35.0,19.0,54.0,0.0,0.0,1029.0,13.0,NaN,NaN,45.0,51.0,-1.0,54.0,0.0,0.0,1.0,NaN,2000000,2500000,2021-22,2021,0,1.0,"$2,250,000","$5,250,000",2020,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,Valeri Nichushkin,RW,2022,UFA,2022,2029-30,62.0,25.0,27.0,52.0,0.0,0.0,867.0,13.0,NaN,NaN,60.0,57.0,7.0,58.0,7.0,1.0,2.0,NaN,2500000,2800000,2021-22,2021,0,1.0,"$2,200,000","$6,000,000",2020,2022
1217,Vincent Trocheck,C,2021,UFA,2022,2028-29,81.0,21.0,30.0,51.0,0.0,0.0,991.0,12.0,NaN,NaN,63.0,53.0,-1.0,55.0,-1.0,0.0,1.0,NaN,4750000,6250000,2021-22,2021,0,1.0,"$3,500,000","$6,000,000",2020,2022
657,Zach Hyman,C,2019,UFA,2021,2027-28,43.0,15.0,18.0,33.0,0.0,0.0,641.0,14.0,NaN,NaN,66.0,60.0,8.0,52.0,2.0,0.0,2.0,NaN,2250000,2500000,2020-21,2020,0,1.0,"$2,500,000","$2,550,000",2019,2021
1081,Zach Werenski,D,2025,UFA,2022,2027-28,68.0,11.0,37.0,48.0,0.0,0.0,1319.0,19.0,NaN,NaN,40.0,45.0,1.0,49.0,3.0,0.0,1.0,NaN,5000000,7000000,2021-22,2021,0,1.0,"$4,000,000","$10,000,000",2020,2022
1375,Zach Whitecloud,D,2024,UFA,2022,2027-28,59.0,8.0,11.0,19.0,0.0,0.0,984.0,16.0,NaN,NaN,58.0,54.0,1.0,52.0,-1.0,0.0,1.0,NaN,725000,750000,2021-22,2021,0,1.0,"$700,000","$3,000,000",2020,2022

In [635]:
def clean_salary(sal, year):
    ''' Adds all salaries earned per year into one salary (in millions of dollars)
        "< $Minimum" is treated as $0
    '''
    if isinstance(sal, int) or isinstance(sal, float):
        return sal  # Return the salary as is if it's already numeric
    
    newlist = [0]
    for elem in sal.split('$'):
        try:
            elem = elem.replace('<','').replace(',','').replace('(TW)','').replace('Minimum','0')
            newlist.append(float(elem)*10**6)
        except ValueError:
            print(elem)
    return newlist[-1]

            
    salary = sum(newlist)/1000000
    
    return salary

# Salary Cap Data taken from spotrac.com/nba/cba
salarycap = {2019:  81.5,  2020: 81.5,   2021: 81.5,   2022: 82.5,   
             2023:   83.5,  2024: 88.0}   

def clean_and_norm_salary(sal, year):
    ''' Adds all salaries earned per year into one salary (in millions of dollars)
        "< $Minimum" is treated as $0
        Then normalizes by salary cap (in 2021 salary cap dollars)
    '''
    newlist = [0]
    for elem in sal.split('$'):
        try:
            elem = elem.replace('<','').replace(',','').replace('Minimum','0')
            elem =  float(elem)
            newlist.append(elem)
        except:
            continue
            
    salary = sum(newlist)/1000000
    salary = salary*salarycap[2021]/salarycap[year]
        
    return salary

for index, row in contract_year_fas.iterrows():
    
    prevyear = contract_year_fas.loc[index, 'prevyear']
    nextyear = contract_year_fas.loc[index, 'nextyear'] 

    prevsal = contract_year_fas.loc[index, 'previous_salary']
    nextsal = contract_year_fas.loc[index, 'next_salary']
    
    contract_year_fas.loc[index, 'PrevSalClean'] = clean_salary(prevsal, prevyear)
    contract_year_fas.loc[index, 'NextSalClean'] = clean_salary(nextsal, nextyear)
    contract_year_fas.loc[index, 'PrevSalNorm'] = clean_and_norm_salary(prevsal, prevyear)
    contract_year_fas.loc[index, 'NextSalNorm'] = clean_and_norm_salary(nextsal, nextyear)

cols = ['NextSal', 'NextSalClean','NextSalNorm']
contract_year_fas[cols].sample(8)

AttributeError: 'int' object has no attribute 'split'

In [ ]:


# Feature Engineering and Cleanup

totalgames = {2019: 82,    2020: 71,    2021: 56,   2022: 82,   
             2023: 82}

for index, row in df.iterrows():    
    G =  df.loc[index, ' G']
    GS =  df.loc[index, 'GS']
    prevyear = df.loc[index, 'PrevYear']
    GTOT = totalgames[prevyear]
    G_pct = G/GTOT
    df.loc[index, 'G_pct'] = G_pct
    GS_pct = GS/GTOT
    df.loc[index, 'GS_pct'] = GS_pct

for index, row in df2021.iterrows():
    G =  df2021.loc[index, 'G']
    GS =  df2021.loc[index, 'GS']
    GTOT = 82
    G_pct = G/GTOT
    GS_pct = GS/GTOT
    df2021.loc[index, 'G_pct'] = G_pct
    df2021.loc[index, 'GS_pct'] = GS_pct
    
df['GS/G'] = df['GS']/df['G']
df2021['GS/G'] = df2021['GS']/df2021['G']

def heightinfeet(height):
    try:
        height_ft  = float(height.split('-')[0]) + float(height.split('-')[1])/12
        return height_ft
    except:
        return np.nan
    
df['Height_ft'] = df['Height'].apply(heightinfeet)

# Bucket Salaries

def sal_bucket(salary):
    if  pd.isnull(salary):
        return 'N/A'
    elif salary < 5: 
        return 0
    elif salary < 10:
        return 5
    elif salary < 15:
        return 10
    elif salary < 20:
        return 15
    elif salary < 25:
        return 20
    elif salary < 30:
        return 25
    elif salary < 50:
        return 30
    
df['Sal_class'] = df['NextSalNorm'].apply(sal_bucket)
df2021['Sal_class'] = df2021['SalClean'].apply(sal_bucket)

# Features

allfeats = ['Height_ft','Age', 'G_pct', 'GS_pct','GS/G','MP', 'PTS',
            'TS%_','3P', '3PA', '3P%_', 'FT','FTA', 'FT%_', 'USG%',
            'ORB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
            'PER', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM','VORP']

# Train/Test and Holdout set

df_model = df[(df.PrevYear != 2020)]
df_holdout = df[(df.PrevYear == 2020)]

# Plot salary class frequency

classes = df_model['Sal_class'].value_counts().sort_index().index.tolist()
classes = [value+2.5 for value in classes]
counts = df_model['Sal_class'].value_counts().sort_index().tolist()

plt.figure(figsize=(8, 6))
plt.bar(classes, counts, width=4.8)

print(df_model['Sal_class'].value_counts().sort_index())